@section Scripts {
    @Scripts.Render("~/bundles/app")
}

<br />
<div>
    <input type="submit" id="getItemsButton" value="Получить данные" />
</div>
<br />
<button onclick="AddClinic()"> Add</button>
<button onclick="DeleteClinic(5)"> Delete</button>
<button onclick="UpdateClinic()"> Update</button>
<button onclick="AddDepartment()"> addDepartment</button>
<button onclick="AddVisit()"> addVisit</button>
<button onclick="AddMedication()"> addMedication</button>
<button onclick="ChangeStatus()"> ChangeStatus</button>
<br />
<input type="file" name="upload" id="uploadFile" /><br />
<button onclick="AddImage()"> AddImage</button>

<hr />

<div>
    <label>Email</label><br />
    <input type="email" id="email" /> <br /><br />
    <label>Password</label><br />
    <input type="password" id="password" /><br /><br />
    <label>Confirm password</label><br />
    <input type="password" id="confirmpassword" /><br /><br />
    <input type="submit" id="submit" value="Регистрация" />
</div>

<hr />

<div class="userInfo" style="display:none;">
    <p>Вы вошли как: <span class="userName"></span></p>
    <input type="button" value="Выйти" id="logOut" />
</div>
<div class="loginForm">
    <h3>Вход на сайт</h3>
    <label>Введите email</label><br />
    <input type="email" id="emailLogin" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="passwordLogin" /><br /><br />
    <input type="submit" id="submitLogin" value="Логин" />
</div>

