<br />
<button onclick="AddClinic()"> Add</button>
<button onclick="DeleteClinic(6)"> Delete</button>
<button onclick="UpdateClinic()"> Update</button>
<button onclick="AddDepartment()"> addDepartment</button>