<div id="blurEffect" class="blurEffect">
    <div class="row create-form">
        <a appearByClick [elementId]="'blurEffect'" class="button-collapse right"><i class="material-icons">close</i></a>
        <form class="col s12 ">
            <div class="row">
                <div class="input-field col s12">
                    <input #clinicName id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input #clinicAddress id="address" type="text" class="validate">
                    <label for="address">Adress</label>
                </div>
            </div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Upload</span>
                    <input #clinicImage type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload image of the clinic">
                </div>
            </div>
            <div class="row">
                <button appearByClick [elementId]="'blurEffect'" (click)="addClinic(clinicName.value,clinicAddress.value)" class="btn offset-l2 waves-effect waves-light" type="submit" name="action">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container content">
    <a appearByClick [elementId]="'blurEffect'" class="left btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <app-preloader *ngIf="done"></app-preloader>
    <br />
    <br />
    <br />

    <div class="row">
        <div *ngFor="let clinic of clinics" class="cardDiv col s3">
            <div class="clinic-manage">
                <i appHover (click)="deleteClinic(clinic.Id)" class="material-icons">close</i>
                <i appHover class="material-icons">edit</i>
            </div>
            <a [routerLink]="['clinic',clinic.Id]">
                <div class="card" appHover>
                    <div class="card-image">
                        <img class="my-image" src="http://localhost:49761/Content/Images/{{clinic.ImageUri}}">
                    </div>
                    <div class="card-content">
                        <p class="clinic-name">{{clinic.Name}}</p>
                        <hr />
                        <p>Address : {{clinic.Address}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

