.my-image {
    height: 200px !important;
}

.cardDiv {
    min-width:250px;
    margin: 30px;
}

.clinic-name {
    color: #f57c00 !important;
    font-size: 20px;
    font-family: FrankRuehl;
}

.card {
    min-width: 250px;
    height: 350px;
}

.hovered {
    transform: scale(1.07);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: .5s all;
    z-index: 10;
    cursor: pointer;
}

.blurEffect {
    margin-top: -90px;
    display: none;
    z-index: 2;
    position: fixed ;
    width: 100vw ;
    height: 110vh ;
    background-color: rgba(25, 23, 23, 0.80);
}

.create-form {
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10%;
    width: 450px;
    background-color: rgba(0, 0, 0,.9);
}

.create-form form {
    margin: 10px;
    padding: 10px;
}

.create-form form input {
    width: 90%;
}

.create-form form button {
    width: 90%;
}

.create-form a {
    cursor: pointer;
}

.create-form form div {
    color:azure;
}

.clinic-manage{
    display:inline-block;
}

.clinic-manage p{
    display: inline-block;
}


