.card-content{
    height:140px;
}
.card-action {
    height: 60px !important;
}

.hovered{
    transform: scale(1.07);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: .5s all;
    z-index:10;
    cursor:pointer;
}