
@media screen and (min-width: 993px) {
    .marginLeft {
        margin-left: 10% !important;
    }

    #links-mobile {
        visibility:hidden;
        display:none;
    }
}

.showLinks :hover {
    cursor: pointer !important;
}

.border li {
    height:auto;
    background-color: #006064;
    color: white;
    text-align: center;
    padding: 7px 20px;
    width: 100%;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1), -2px -2px 5px 0 rgba(0,0,0,.1), 2px 2px 5px 0 rgba(0,0,0,.1), -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}

.border li:hover {
    box-shadow: 0px 0px 10px 0px rgba(255,255,255, 0.9) inset;
}

#links-mobile {
    display:none;
    margin-top: -15px;
}

.border li a {
    color: white;
    display: block;
    text-align: center; 
    height: 100%; 
}
