.content {
    padding-top: 50px;
    padding-bottom:100px;
    min-height: 70vh;
    height: 100%;
}

.container {
    padding-top: 50px;
    height: 100%;
}

@media screen and (min-width: 989px) {
    .marginLeft {
        margin-left: 10% !important;
    }
}


